/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --main-red: #FF0070;
  --hover-red: rgba(255, 0, 112, 0.4);
  --title-purple: rgba(219, 0, 255, 1);
  --glow-pink: #FF0070;
  --bg-pink: rgba(255, 0, 112, 1);
  --text-dark: rgba(0, 0, 40, 1);
  --cover-dark: url("../images/cover-image-dark.png");
  --main-text: rgba(241, 178, 206, 1);
  --link-glow: #ff0070;
  --page-dark: #000028;
  --rec-vis: visible;
}

.theme-dark .page {
  --main-red: #FF0070;
  --hover-red: rgba(255, 0, 112, 0.4);
  --title-purple: rgba(219, 0, 255, 1);
  --glow-pink: #FF0070;
  --bg-pink: rgba(255, 0, 112, 1);
  --text-dark: rgba(0, 0, 40, 1);
  --cover-dark: url("../images/cover-image-dark.png");
  --main-text: rgba(241, 178, 206, 1);
  --link-glow: #ff0070;
  --page-dark: #000028;
  --rec-vis: visible;
}
