/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

@media (prefers-color-scheme: light) {
  .page {
    --main-red: rgba(255, 141, 203, 1);
    --hover-red: rgba(50, 49, 45, 0.4);
    --title-purple: rgba(255, 194, 230, 1);
    --glow-pink: rgba(255, 141, 203, 1);
    --bg-pink: rgba(255, 141, 203, 1);
    --text-dark: rgba(53, 52, 48, 1);
    --cover-dark: url("../images/cover-image-light.png");
    --main-text: rgba(53, 52, 48, 1);
    --link-glow: rgba(255, 141, 203, 1);
    --page-dark: #fff1f7;
    --rec-vis: hidden;
  }
}

:root.theme-light {
  --main-red: rgba(255, 141, 203, 1);
  --hover-red: rgba(50, 49, 45, 0.4);
  --title-purple: rgba(255, 194, 230, 1);
  --glow-pink: rgba(255, 141, 203, 1);
  --bg-pink: rgba(255, 141, 203, 1);
  --text-dark: rgba(53, 52, 48, 1);
  --cover-dark: url("../images/cover-image-light.png");
  --main-text: rgba(53, 52, 48, 1);
  --link-glow: rgba(255, 141, 203, 1);
  --page-dark: #fff1f7;
  --rec-vis: hidden;
}

.theme-light .page {
  --main-red: rgba(255, 141, 203, 1);
  --hover-red: rgba(50, 49, 45, 0.4);
  --title-purple: rgba(255, 194, 230, 1);
  --glow-pink: rgba(255, 141, 203, 1);
  --bg-pink: rgba(255, 141, 203, 1);
  --text-dark: rgba(53, 52, 48, 1);
  --cover-dark: url("../images/cover-image-light.png");
  --main-text: rgba(53, 52, 48, 1);
  --link-glow: rgba(255, 141, 203, 1);
  --page-dark: #fff1f7;
  --rec-vis: hidden;
}
